body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.1;

}

* {
  box-sizing: inherit;
}

button {
  font-size: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #00b3e5;
}

img {
  max-width: 100%;
}



/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  margin: 0 auto .5rem;
  padding: 1.875rem 1rem 0;
}

.logo {
  width: 21.875rem;
}

.promotion-title {
  font-weight: 700;
  color: #00b3e5;
}

.promotion-sub-title {
  max-width: 15rem;
  font-family: Georgia, serif;
}

.promotion-sub-title a {
  color: #999;
}

.subscribe-btn {
  height: 1.875rem;
  padding: .5rem;
  border: none;
  font-weight: 700;
  background-color: #00b3e5;
  color: #fff;
}



/* NAV */
.main-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-top: .5rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}

.main-nav > .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
  border-bottom: 1px solid #bfbfbf;
}

.main-nav ul {
  display: flex;
}

.nav-links > li {
  padding-bottom: .5625rem;
}

.nav-links > li,
.user-actions > li {
  margin-right: 1.0625rem;
}

.nav-links > li.active,
.nav-links > li:active,
.nav-links > li:hover {
  border-bottom: .4rem solid #000;
}

.nav-link,
.user-link {
  font-size: 1.125rem;
  font-weight: 700;
  color: #002837;
}

.nav-link.active,
.nav-link:active,
.nav-link:hover {
  color: #00b3e5;
}

.nav-link.secondary {
  color: #00b3e5;
}

.nav-link.secondary:active {
  color: #002837;
}

.user-actions {
  margin-left: auto;
}

.user-link:hover {
  text-decoration: underline;
}



/* ARTICLE */
.grid-wrapper {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-column-gap: 1rem;
  max-width: 68.75rem;
  margin: 1rem auto;
}

.article {
  max-width: 48.625rem;
  padding: 0 1rem;
  color: #4d4d4d;
}

.article-title {
  margin-bottom: 1rem;
  font-size: 3.125rem;
  font-weight: 700;
  color: #000;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .6875rem;
}

.social-links > li {
  margin-right: .75rem;
}

.article-info,
.author {
  margin-bottom: .6875rem;
}

article {
  margin-bottom: 2rem;
}

.bold {
  font-weight: 700;
  color: #484848;
}

.article-img {
  margin-bottom: 1.5rem;
}

.article-img figcaption {
  font-size: .75rem;
}

.article-img .caption {
  font-weight: 700;
}

.article-content {
  margin-bottom: .6375rem;
  font-size: 1.0625rem;
  line-height: 1.5625rem;
}

article .reference {
  font-size: 1rem;
}

.related-topics {
  margin-top: 1.37rem;
  display: flex;
  align-items: center;
  gap: .75rem;
}

.related-topics p {
  font-size: .9375rem;
  font-weight: 700;
}

.related-topic-link {
  padding: .46rem;
  color: #fff;
  background-color: #005587;
  font-weight: 700;
  border-radius: .25rem;
}

.related-topic-link:hover,
.related-topic-link:active {
  background-color: #288eb7;
}


/* SPONSORED PROMOTION */
.sponsored {
  margin-bottom: 2.5rem;
  background-color: #f5f5f5;
}

.sponsored-title {
  margin-bottom: 1rem;
  padding: .3125rem;
  font-weight: 700;
  color: #fff;
  background-color: #37b3e5;
}

.sponsored-body {
  display: flex;
  padding-left: .625rem;
  padding-right: 1.25rem;
  color: #000;
}

.sponsored-img {
  width: 16.875rem;
  margin-right: 1.25rem;
}

.sponsored .headline {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.sponsored-text {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  font-size: 1.0625rem;
  font-family: Georgia, serif;
  line-height: 1.5625rem;
}



/* SIDEBAR */
.sidebar {
  align-self: end;
  width: 18.75rem;
  height: fit-content;
  padding: 0 1rem;
}

.tabs {
  display: flex;
  gap: 2px;
  width: 100%;
  overflow: hidden;
  margin-bottom: .25rem;
}

.tab-button {
  flex-grow: 1;
  height: 2rem;
  padding: .5rem;
  border: none;
  font-size: .875rem;
  font-weight: 700;
  background-color: #f5f5f5;
  color: #000;
  cursor: pointer;
}

.tab-button:hover {
  background-color: #e5e5e5;
}

.tab-button.active {
  background-color: #00b3e5;
  color: #fff;
}

.top-contents {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  counter-reset: list-no;
}

.top-contents li {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #f5f5f5;
  padding: .6875rem;
  font-size: 1.375rem;
  counter-increment: list-no;
}

.top-contents a:hover,
.top-contents a:active {
  color: #00b3e5;
}

.top-contents a {
  color: #4d4d4d;
  font-weight: 700;
}

.top-contents li:after {
  content: counter(list-no);
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
  color: #00b3e5;
}



/* MAGAZINE */
.magazine-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem;
}

.magazine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.magazine img { width: 100%; }

.magazine-btns button {
  display: block;
  width: 100%;
  margin-bottom: .75rem;
  padding: .5rem;
  font-weight: 700;
  background-color: #00b3e5;
  color: #fff;
  border: none;
  border-radius: 2px;
}

button.view-in-app { background-color: #20b2aa }
button.buy-print { background-color: red; }



/* MORE ARTICLES */
.more-articles {
  max-width: 68.75rem;
  margin: 2rem auto;
  padding: 0 1rem;
}

.more-articles-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.article-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.article-list li {
  width: auto;
  position: relative;
}

.article-list img {
  width: 100%;
}

.article-list p {
  margin-top: .75rem;
  font-size: 1.375rem;
  font-weight: 700;
  color: #000;
}

.article-list p:hover {
  color: #00b3e7;
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: .45rem;
  color: white;
  background: purple;
  font-size: .875rem;
  font-weight: bold;
  border-radius: 2px;
}



/* FOOTER */
footer {
  margin-top: 5.25rem;
  padding: 1.35rem 0;
  background-color: #f5f5f5;
}

.footer-wrapper {
  max-width: 68.75rem;
  padding: 0 1rem;
  margin: auto;
}

.form-heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.sign-up-form {
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.sign-up-form label {
  color: #4d4d4d;
}

.text-input,
.sign-up-form label {
  font-size: 1rem;
  font-family: Georgia, sans-serif;
}

.text-input {
  width: 21.875rem;
  margin-left: 1rem;
  padding: 2px .5rem;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}

.sign-up-btn {
  width: 15rem;
  margin-bottom: 1.5rem;
  padding: .5rem;
  font-weight: bold;
  color: #fff;
  background-color: #005587;
  border: none;
  border-radius: 3px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer-links-wrapper {
  padding-top: .685rem;
  border-top: 1px solid #bfbfbf;
}

.footer-links li {
  padding: 0 .685rem;
  margin-bottom: 4px;
  border-right: 1px solid #000;
}

.footer-links:last-child {
  border-right: none;
  padding-right: 0;
}

.footer-link {
  color: #000;
  font-family: Georgia, serif;
}

.footer-link:hover,
.footer-link:active {
  color: #00b3e7;
}

.cookie-btn {
  display: block;
  width: fit-content;
  margin: 1.375rem auto 2.8rem;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-heading {
  margin-bottom: 1rem;
}

.apps { 
  margin-right: .5rem;
  margin-bottom: 2.5rem;
}

.apps img {
  margin-right: 1.375rem;
}

.social-links img {
  border-radius: 50%;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.copyright span {
  font-size: .875rem;
  font-family: Georgia, serif;
}

.to-top-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  color: #000;
}


/* RESPONSIVE */
@media screen and (max-width: 64rem) {
  .main-nav {
    display: none;
  }

  .header {
    justify-content: center;
    margin-top: 3.75rem;
    padding: 0 1rem;
  }

  .header h1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: .5rem 0;
    background-color: #fff;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  }

  .logo {
    max-width: 14.5rem;
  }

  .promotion {
    display: none;
  }

  .grid-wrapper {
    grid-template-columns: 1fr;
  }

  .article {
    max-width: 100%;
  }

  .article-title {
    font-size: 2rem;
  }

  .article-img img {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 60rem) {
  .sign-up-form {
    flex-direction: column;
  }

  .text-input {
    width: 17rem;
  }

  .sign-up-btn {
    align-self: flex-end;
  }
}

@media screen and (max-width: 40rem) {
  .logo {
    width: 10rem;
  }

  .article-list {
    flex-direction: column;
  }

  .sponsored-body {
    flex-direction: column;
  }

  .sponsored-img {
    width: 100%;
  }

  .magazine-wrapper {
    grid-template-columns: 1fr;
  }

  .sign-up-form {
    width: 100%;
  }

  .sign-up-btn {
    align-self: flex-start;
  }

  .sign-up-form .field {
    display: flex;
    gap: .75rem;
    flex-direction: column;
    width: 100%;
  }

  .text-input {
    width: 100%;
    margin-left: 0;
  }
}